.onas{
    display: grid;
    min-height: 100%;
    max-height: fit-content;
    grid-template-columns: 5% 2fr 1fr 1fr 5%;
    grid-template-rows: 68px 1fr 1fr;

    h2{
        grid-row: 2/3;
       grid-column: 2/3;
       align-self: flex-end;
       padding-left:10rem;
    }
    p{
        grid-row: 3/4;
        grid-column: 2/4;
        align-self: flex-start;
        justify-self: flex-start;
        padding-left:8rem;
        padding-top:3rem
    } 
       

    .pike{
        grid-row:2/3;
        grid-column: 2/4;
        align-self: flex-end;
        position: relative;
        padding-left:11rem;
        .homedot {
            margin: 0 20px 0 0; 
            height: 15px;
            width: 15px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
            z-index: 50;
          }
    
    }
}