.onas {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  height: 100vh;
  align-content: stretch;
  grid-template-columns: 9rem 2.2fr 1fr 1fr 5%;
  grid-template-rows: 68px 1fr 1.3fr;

  h2 {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
  }
  .opis {
    text-align: justify;
    grid-row: 3/4;
    grid-column: 2/3;
    align-self: start;
    justify-self: start;
    padding: 0 7rem 0 7rem;
  }

  .pike {
    grid-row: 2/3;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    position: relative;
    top: 5rem;
    left: 2rem;

    .homedot {
      margin: 0 20px 0 0;
      height: 15px;
      width: 15px;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
      z-index: 50;
    }
  }

  /* Pozicija kartice za Jureta*/
  .onas__card__jure {
    grid-row: 2;
    grid-column: 3;
  }
  /* Pozicija kartice za Gregorja*/
  .onas__card__gregor {
    grid-row: 2;
    grid-column: 4;
  }

  /* Znotraj kartic se definira grid za lazje centriranje */
  .onas__card {
    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-template-columns: 1fr;

    &__slika {
      /* Nastavis velikost kroga za sliko in  */
      grid-row: 1;
      justify-self: center;
      align-self: flex-end;
      width: 20rem;
      height: 20rem;
      border-radius: 50%;

      /* Nastavis sliko v ozadje */
      &--jure {
        background-image: url("/img/Jure_webso.jpg");
        background-position: center top;
      }

      &--gregor {
        background-image: url("/img/Gregor_webso.jpg");
        background-position: center;
        
      }
    }

    /* Nastavitev za prikaz in centriranje imena*/
    &__ime {
      grid-row: 2;
      justify-self: center;
      align-self: center;
      font-size: 5rem;
    }
  }

  /* Nastavitev opisa pod imeni */

  .onas__opis--jure {
    grid-row: 3;
    grid-column: 3;
  }

  .onas__opis--gregor {
    grid-row: 3;
    grid-column: 4;
  }

  .onas__opis {
    display: table;
    text-align: center;

    &__besedilo {
      padding: 2rem 2rem 0 2rem;
      width: 100%;
      display: table-cell;
      vertical-align: top;

      ul{
        list-style: none;
        align-content: center;
        
        li{
          font-family: "Titillium Web", sans-serif;
          font-size: 2rem;
        }
      }

      p {
        font-size: 2.5rem;
        
      }

      .typing,
      .typing1 {
        position: relative;
        margin-left: 1rem;
      }

      .typing::after,
      .typing1::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        border-right: 2px solid white;
        animation: blink 0.8s infinite ease;
      }

      @keyframes blink {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      &__intro {
        display: flex;
        justify-content: center;
      }
    }
  }
}

/* For tablets: */
@media only screen and (max-width: 1024px) {
  .onas {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: 68px 15% min-content min-content min-content;
  
    h2 {
      grid-row: 2/3;
      grid-column: 2/4;
      align-self: center;
      justify-self: center;
    }
    .opis {
      text-align: justify;
      grid-row: 3/4;
      grid-column: 2/4;
      align-self: start;
      justify-self: start;
      padding: 0 7rem 4rem 7rem;
    }
  
    .pike {
      display: none;
    }
  
    /* Pozicija kartice za Jureta*/
    .onas__card__jure {
      grid-row: 4/5;
      grid-column: 2/3;
      align-self: start;
    }
    /* Pozicija kartice za Gregorja*/
    .onas__card__gregor {
      grid-row: 4/5;
      grid-column: 3/4;
      align-self: start;
    }
  
    /* Znotraj kartic se definira grid za lazje centriranje */
    .onas__card {
      display: grid;
      grid-template-rows: 4fr 1fr;
      grid-template-columns: 1fr;
  
      &__slika {
        /* Nastavis velikost kroga za sliko in  */
        grid-row: 1;
        justify-self: center;
        align-self: center;
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
  
        /* Nastavis sliko v ozadje */
  

      }
  
      /* Nastavitev za prikaz in centriranje imena*/
      &__ime {
        grid-row: 2;
        justify-self: center;
        align-self: center;
        font-size: 3rem;
      }
    }
  
    /* Nastavitev opisa pod imeni */
  
    .onas__opis--jure {
      grid-row: 5/6;
      grid-column: 2/3;
      align-self: start;
    }
  
    .onas__opis--gregor {
      grid-row: 5/6;
      grid-column: 3/4;
      align-self: start;
    }
  
    .onas__opis {
      display: table;
      text-align: center;
  
      &__besedilo {
        padding: 2rem 2rem 0 2rem;
        width: 100%;
        display: table-cell;
        vertical-align: top;
  
        ul{
          list-style: none;
          align-content: center;
          
          li{
            font-family: "Titillium Web", sans-serif;
            font-size: 2rem;
          }
        }
  
        p {
          font-size: 2.5rem;
          
        }
  
        .typing,
        .typing1 {
          position: relative;
          margin-left: 1rem;
        }
  
        .typing::after,
        .typing1::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          border-right: 2px solid white;
          animation: blink 0.8s infinite ease;
        }
  
        @keyframes blink {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
  
        &__intro {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  
}


/* For mobile: */
@media only screen and (max-width: 440px) {
  .onas {
    width: 100%;
    display: grid;
    height: 100vh;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: 68px min-content min-content min-content min-content;
  
    h2 {
      grid-row: 2/3;
      grid-column: 2/4;
      align-self: center;
      justify-self: center;
      margin-top: 4rem;
      margin-bottom: 1rem;
    }
    .opis {
      font-size: 20px;
      padding: 0 2rem 2rem 2rem;

    }
  
    .pike {
      display: none;
    }
  
    /* Pozicija kartice za Jureta*/
    .onas__card__jure {
      grid-row: 4/5;
      grid-column: 2/3;
      align-self: start;
    }
    /* Pozicija kartice za Gregorja*/
    .onas__card__gregor {
      grid-row: 4/5;
      grid-column: 3/4;
      align-self: start;
    }
  
    /* Znotraj kartic se definira grid za lazje centriranje */
    .onas__card {
      display: grid;
      grid-template-rows: min-content min-content;
      grid-template-columns: 1fr;
  
      &__slika {
        /* Nastavis velikost kroga za sliko in  */
        grid-row: 1;
        justify-self: center;
        align-self: end;
        width: 13rem;
        height: 13rem;
        border-radius: 50%;
        &--jure {
          background-image: url("/img/Jure_webso.jpg");
          background-position: 50% 20%;
        }
  
        &--gregor {
          background-image: url("/img/Gregor_webso.jpg");
          background-position: 50% 30%;
          
        }
  

  

      }
  
      /* Nastavitev za prikaz in centriranje imena*/
      &__ime {
        grid-row: 2;
        justify-self: center;
        align-self: center;
        font-size: 3rem;
      }
    }
  
    /* Nastavitev opisa pod imeni */
  
    .onas__opis--jure {
      grid-row: 5/6;
      grid-column: 2/3;
      align-self: start;
    }
  
    .onas__opis--gregor {
      grid-row: 5/6;
      grid-column: 3/4;
      align-self: start;
    }
  
    .onas__opis {
      display: table;
      text-align: center;
  
      &__besedilo {
        padding: 0rem 0.5rem 0 0.5rem;
        width: 100%;
        display: table-cell;
        vertical-align: top;
  
        ul{
          list-style: none;
          align-content: center;
          
          li{
            font-family: "Titillium Web", sans-serif;
            font-size: 1.5rem;
          }
        }
  
        p {
          font-size: 2.5rem;
          
        }
  
        .typing,
        .typing1 {
          position: relative;
          margin-left: 1rem;
        }
  
        .typing::after,
        .typing1::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 100%;
          border-right: 2px solid white;
          animation: blink 0.8s infinite ease;
        }
  
        @keyframes blink {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
  
        &__intro {
          display: flex;
          justify-content: center;
        }
      }
    }
  }

  
}


