.pro {
  display: grid;
  height: 100vh;
  align-content: stretch;
  grid-template-columns: 9rem 1fr 1fr 5%;
  grid-template-rows: 68px 1fr 1fr;

  h2 {
    grid-row: 2/3;
    grid-column: 2/4;
    align-self: flex-end;
    justify-self: flex-start;
    margin-left: 5rem;
    margin-bottom: 5rem;
  }

  .pike {
    grid-row: 2/3;
    grid-column: 2/4;
    align-self: flex-end;
    justify-self: flex-start;
    position: relative;
    left: 20rem;
    top: -3rem;
    .homedot {
      margin: 0 20px 0 0;
      height: 15px;
      width: 15px;
      background-color: red;
      border-radius: 50%;
      display: inline-block;
      z-index: 50;
    }
  }

  /* SLIDER S PROJEKTI */

  .container-projekti {
    grid-row: 2 / 4;
    grid-column: 3;
    align-self: center;
    justify-self: center;
    height: 60%;
    background: transparent;
    display: grid;
    grid-template-columns: 10% 80% 10%;

    .projekt-slika {
      
      position: relative;

      .proSlide {
        background-color: rgba(235, 235, 235, 0.6);

        .st-projekta {
          text-align: center;
          width: 8rem;
          height: 9rem;
          position: absolute;
          font-size: 7rem;
          right: 0;
          bottom: 0;
        }
        
        img{
          max-width: 100%;
          height: auto;

        }
      }
    }

    .nazaj-naprej {
      display: flex;
      justify-content: center;
      align-items: center;

      i {
        cursor: pointer;
        font-size: 10rem;

        &:hover{
          color: #ff4d5a;
        }
      }
    }
  }

  /* OPISI PROJEKTOV */

  .opisi-projektov {
    grid-row: 3 / 3;
    grid-column: 2/2;
    /*background-color: white;*/
    padding: 4rem 4rem 4rem 4rem;
    text-align: center;
    /*color: #061A33; Po koncanem urejanju izbrisi oz dodaj dnevni nacin*/

    h4 {
      font-size: 5rem;
    }

    h5 {
      font-size: 3.5rem;
    }

    p {
      font-size: 2.5rem;
      margin-top: 1rem;
    }

    .orodja {
      margin-top: 2rem;
    }

    .obisci-stran {
      margin-top: 3rem;
      color: #eeffff;
    }
    .obisci-stran:hover {
      color: #061a33;
    }
  }
}
