html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body {
  color: #EEFFFF;
  background-color: #061A33;
  font-family: 'Titillium Web', sans-serif;
  transition: all 0.5s ease-in-out;
}

/*vse za dnevno temo*/
body.day {
  color: #061A33;
  background-color: #EEFFFF;
}

body.day a {
  color: #061A33;
}

body.day .label{
  background-color: #061A33;
}

body.day .sidebar{
  background-color: #EEFFFF;
}

body.day .sidebarMenu a{
  color: #061A33;
}

/*dnevni burger*/
body.day .menu-btn__burger, .menu-btn__burger::before{
   background:#061A33;
}

body.day .menu-btn__burger::before, body.day .menu-btn__burger::after{
  background:#061A33;
}

/*dnevna kontaktna forma*/

body.day .kontaktcontainer{
  background: #EEFFFF;
  border: 4px solid #061A33;
  .inputBox{
    color:#061A33;
    input{
      color:#EEFFFF;
    }
    textarea{
      color:#EEFFFF;
    }
    .line{
      background:#061A33;
    }
  }
}

h1{
  font-family: 'Russo One', sans-serif;
  font-size: 4rem;
}

h2{
  font-family: 'Russo One', sans-serif;
  font-size: 12rem;
}

h3{
  font-size: 4.5pt;
}

p{
  font-size: 6rem
}

li{
  font-family: 'Russo One', sans-serif;
  font-size: 20pt;
}

input, textarea{
  font-family: 'Titillium Web', sans-serif;
}

a{
  color: #EEFFFF;
  text-decoration: none;
}


/*črta*/
.verticalLine{
  display:box;
  border-left: 3pt solid #FF4D5A;
  height:55%;
  position:fixed;
  margin-left: 90px;
  top: 55%;
  bottom: 0;
}

/*navigacijske pikice*/

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 5px #EEFFFF;
    overflow: hidden;
    
    
    &::after {
      content: '';
      position: absolute;
      width: 140%;
      height: 0;
      border-radius: 50%;
      left: 0;
      bottom: 0;
      background-color: #FF4D5A;
      box-shadow: 0 0 1px #EEFFFF;
      transition: width 0.8s;
      
   }
}

/*dnevne in pikice*/
body.day #fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    box-shadow: inset 0 0 0 5px #061A33;
}
  
      
#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
    width: 16px;
    height: 16px;
    border: 4px solid;
    margin: -8px 0 0 -8px;
    background: transparent;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #EEFFFF;
    
   &::after {
     height: 100%;
    
     

   }
}

.sectionname{
  position: absolute;
  text-align:center;
  font-size: 2rem;
  writing-mode: vertical-rl;
  left:90px;
  top:65%;
  
}



@import 'home';
@import 'projects';
@import 'about';
@import 'contact';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');