@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*preloader*/
.preload {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #061a33;
  z-index: 1000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.preload #preload-logo {
  width: 30vw;
}

.preload #preload-logo .wave {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  -webkit-animation: dash 1s ease alternate infinite;
          animation: dash 1s ease alternate infinite;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.preload-finish {
  display: none;
  pointer-events: none;
}

body {
  color: #eeffff;
  background-color: #061a33;
  font-family: "Titillium Web", sans-serif;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

/* rotate your device*/
.rotate {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #061a33;
  z-index: 100000;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  display: none;
}

.rotate .phone {
  height: 50px;
  width: 100px;
  z-index: 1000001;
  border: 3px solid white;
  border-radius: 10px;
  -webkit-animation: rotate 1.5s ease-in-out infinite alternate;
          animation: rotate 1.5s ease-in-out infinite alternate;
  -ms-grid-column-align: center;
      justify-self: center;
  /*display: none;*/
}

.rotate .message {
  color: white;
  font-size: 1.5rem;
  margin-top: 40px;
  text-align: center;
  /*display: none;*/
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}

.rotate-landscape {
  display: block;
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  .rotate {
    display: block;
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/*vse za dnevno temo*/
body.day {
  color: #061a33;
  background-color: #eeffff;
}

body.day a {
  color: #061a33;
}

body.day .label {
  background-color: #061a33;
}

body.day .sidebar {
  background-color: #eeffff;
}

body.day .sidebarMenu a {
  color: #061a33;
}

/*dnevni burger*/
body.day .menu-btn__burger,
.menu-btn__burger::before {
  background: #061a33;
}

body.day .menu-btn__burger::before,
body.day .menu-btn__burger::after {
  background: #061a33;
}

/* dnevni za stevilko pri projektih */
body.day .pro .container-projekti .projekt-slika .proSlide .st-projekta {
  background-color: #061a33;
  color: #eeffff;
}

/* dnevni za tipko pri projektih */
body.day .pro .opisi-projektov a.button:hover {
  color: #eeffff;
}

/*dnevna kontaktna forma*/
body.day .kontaktcontainer {
  background: #eeffff;
  border: 4px solid #061a33;
}

body.day .kontaktcontainer .inputBox {
  color: #061a33;
}

body.day .kontaktcontainer .inputBox input {
  color: #eeffff;
}

body.day .kontaktcontainer .inputBox textarea {
  color: #eeffff;
}

body.day .kontaktcontainer .inputBox .line {
  background: #061a33;
}

h1 {
  font-family: "Russo One", sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: "Russo One", sans-serif;
  font-size: 10rem;
}

h3 {
  font-size: 4.5pt;
}

p {
  font-size: 3rem;
}

li {
  font-family: "Russo One", sans-serif;
  font-size: 3rem;
}

input,
textarea {
  font-family: "Titillium Web", sans-serif;
}

a {
  color: #eeffff;
  text-decoration: none;
}

/*ime sekcije*/
.sectionname {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  left: 9rem;
  top: 65%;
}

/*dnevni paralax*/
body.day .paralax-container {
  display: none;
}

body.day .paralax-container-2 {
  display: block;
}

/*črta*/
.verticalLine {
  display: box;
  border-left: 3pt solid #ff4d5a;
  height: 55%;
  position: fixed;
  margin-left: 9rem;
  top: 55%;
  bottom: 0;
}

/*navigacijske pikice*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0 5px #eeffff;
          box-shadow: inset 0 0 0 5px #eeffff;
  overflow: hidden;
}

#fp-nav ul li a span::after,
.fp-slidesNav ul li a span::after {
  content: "";
  position: absolute;
  width: 140%;
  height: 0;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  background-color: #ff4d5a;
  -webkit-box-shadow: 0 0 1px #eeffff;
          box-shadow: 0 0 1px #eeffff;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

/*dnevne in pikice*/
body.day #fp-nav ul li a span,
.fp-slidesNav ul li a span {
  -webkit-box-shadow: inset 0 0 0 5px #061a33;
          box-shadow: inset 0 0 0 5px #061a33;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  border: 4px solid;
  margin: -8px 0 0 -8px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0 2px #eeffff;
          box-shadow: inset 0 0 0 2px #eeffff;
}

#fp-nav ul li a.active span::after,
.fp-slidesNav ul li a.active span::after,
#fp-nav ul li:hover a.active span::after,
.fp-slidesNav ul li:hover a.active span::after {
  height: 100%;
}

/* For tablets: */
@media only screen and (max-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 8rem;
  }
  h3 {
    font-size: 3.5pt;
  }
  p {
    font-size: 4rem;
  }
  li {
    font-size: 3rem;
  }
  .sectionname {
    font-size: 1.5rem;
    left: 6rem;
  }
  .verticalLine {
    display: box;
    border-left: 3pt solid #ff4d5a;
    height: 55%;
    position: fixed;
    margin-left: 6rem;
  }
  #fp-nav.fp-left {
    left: 7px;
  }
}

/* For mobile: */
@media only screen and (max-width: 440px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 2.5pt;
  }
  p {
    font-size: 3rem;
  }
  li {
    font-size: 2rem;
  }
  .sectionname {
    display: none;
  }
  .verticalLine {
    display: none;
  }
  #fp-nav.fp-left {
    display: none;
  }
}

header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  background-color: transparent;
  /* BURGER MENI V ZGORNJI VRSTICI */
  /* ANIMACIJA */
}

header nav {
  width: 90%;
  margin: auto;
  min-height: 6.8rem;
  padding: 23px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

header nav .logo-link {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header nav #logo1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  height: 5rem;
}

header .menu-btn {
  margin-top: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  /*border: 3px solid #fff; */
}

header .menu-btn__burger {
  width: 40px;
  height: 6px;
  background: #eeffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn__burger::before,
header .menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background: #eeffff;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

header .menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

header .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

/* stranski meni */
.sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -30rem;
  width: 30rem;
  height: 100%;
  background-color: #061a33;
  z-index: 100;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.sidebar ul {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar ul li {
  text-decoration: none;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.sidebar ul li h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sidebar ul li a {
  color: #eeffff;
}

.sidebar ul li a:hover {
  color: #ff4d5a;
}

.sidebar ul li.active a {
  color: #ff4d5a;
}

.sidebar.open {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

/*night/day mode*/
.day_night_container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 1.5rem;
}

.day_night_container .checkbox {
  opacity: 0;
  position: absolute;
}

.day_night_container .label {
  background-color: #797973;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.day_night_container .label .ball {
  background-color: #eeffff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.day_night_container .checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.day_night_container .fa-moon {
  color: #f1c40f;
}

.day_night_container .fa-sun {
  color: #ff4d5a;
}

/* VSEBINA */
.showcase {
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-grid-columns: 9rem 1fr 1fr 2fr 5%;
      grid-template-columns: 9rem 1fr 1fr 2fr 5%;
  -ms-grid-rows: 68px 1fr 1fr;
      grid-template-rows: 68px 1fr 1fr;
}

.showcase h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.showcase h2 span {
  margin-left: 18rem;
}

.showcase .pike {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  position: relative;
  left: 23rem;
  top: -5rem;
}

.showcase .pike .homedot {
  margin: 0 20px 0 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  z-index: 50;
}

.showcase .paralax-container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-bottom: 4rem;
  z-index: -1;
}

.showcase .paralax-container img {
  width: 90vw;
  height: auto;
}

.showcase .paralax-container-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-bottom: 4rem;
  z-index: -1;
  display: none;
}

.showcase .paralax-container-2 img {
  width: 90vw;
  height: auto;
}

.showcase p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
  margin-left: 8rem;
  font-size: 5rem;
}

.showcase p span {
  margin-left: 12rem;
}

/*responsive menu*/
@media only screen and (max-width: 1024px) {
  .menu-kontakt {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .menu-linkedin {
    display: none;
  }
  header nav ul {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  header nav #logo1 {
    -webkit-box-flex: 1.5;
        -ms-flex: 1.5;
            flex: 1.5;
  }
}

/* For tablets: */
@media only screen and (max-width: 800px) {
  /* VSEBINA */
  .showcase {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -ms-grid-columns: 6rem 1fr 1fr 2fr 5%;
        grid-template-columns: 6rem 1fr 1fr 2fr 5%;
    -ms-grid-rows: 68px 1fr 2fr;
        grid-template-rows: 68px 1fr 2fr;
  }
  .showcase h2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0rem;
    margin-bottom: 5rem;
  }
  .showcase h2 span {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0rem;
  }
  .showcase .pike {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column-align: center;
        justify-self: center;
    position: relative;
    left: -1rem;
    top: -5rem;
  }
  .showcase .pike .homedot {
    margin: 0 20px 0 0;
    height: 0.8rem;
    width: 0.8rem;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    z-index: 50;
  }
  .showcase .paralax-container {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-bottom: 6rem;
    z-index: -1;
  }
  .showcase .paralax-container img {
    width: 100vw;
    height: auto;
  }
  .showcase .paralax-container-2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 4;
    grid-column: 2/6;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
    margin-bottom: 6rem;
    z-index: -1;
    display: none;
  }
  .showcase .paralax-container-2 img {
    width: 100vw;
    height: auto;
  }
  .showcase p {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
    margin-bottom: 10rem;
  }
  .showcase p span {
    margin-left: 8rem;
  }
}

/* For mobile: */
@media only screen and (max-width: 440px) {
  /* VSEBINA */
  .sidebar {
    width: 20rem;
  }
  .sidebar ul li h1 {
    padding-bottom: 1rem;
  }
  .showcase {
    position: absolute;
    top: 0;
    height: 100vh;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: 68px min-content auto;
        grid-template-rows: 68px -webkit-min-content auto;
        grid-template-rows: 68px min-content auto;
  }
  .showcase h2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: end;
        align-self: flex-end;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 5rem;
    margin-left: 0rem;
    margin-bottom: 0;
  }
  .showcase h2 span {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0rem;
  }
  .showcase .pike {
    display: none;
  }
  .showcase .paralax-container {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
    z-index: -1;
    margin-right: 5rem;
  }
  .showcase .paralax-container img {
    width: 100vw;
    height: auto;
  }
  .showcase .paralax-container-2 {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 2rem;
    margin-bottom: 0rem;
    margin-right: 5rem;
    z-index: -1;
    display: none;
  }
  .showcase .paralax-container-2 img {
    width: 110vw;
    height: auto;
  }
  .showcase p {
    font-size: 3rem;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-column: 2/5;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-bottom: 0rem;
    margin-top: 3%;
    margin-left: 0;
  }
  .showcase p span {
    margin-left: 8rem;
  }
  .day_night_container {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-bottom: 1.5rem;
  }
  .day_night_container .label {
    background-color: #797973;
    border-radius: 50px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 19.5px;
    width: 38.5px;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .day_night_container .label .ball {
    border-radius: 50%;
    position: absolute;
    top: 1.5px;
    left: 1.5px;
    height: 16.5px;
    width: 16.5px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
  }
  .day_night_container .checkbox:checked + .label .ball {
    -webkit-transform: translateX(18px);
            transform: translateX(18px);
  }
  .day_night_container .fa-moon {
    color: #f1c40f;
  }
  .day_night_container .fa-sun {
    color: #ff4d5a;
  }
}

.pro {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9rem 1fr 1fr 5%;
      grid-template-columns: 9rem 1fr 1fr 5%;
  -ms-grid-rows: 68px 1fr 1fr;
      grid-template-rows: 68px 1fr 1fr;
  /* SLIDER S PROJEKTI */
  /* OPISI PROJEKTOV */
}

.pro h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.pro h2 span {
  display: table;
  margin-left: 12rem;
}

.pro .pike {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  position: relative;
  left: 17rem;
  top: -5rem;
}

.pro .pike .homedot {
  margin: 0 20px 0 0;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  z-index: 50;
}

.pro .container-projekti {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / 4;
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 70%;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 80% 10%;
      grid-template-columns: 10% 80% 10%;
}

.pro .container-projekti .projekt-slika {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  z-index: 1;
}

.pro .container-projekti .projekt-slika .proSlide {
  z-index: 1;
  max-width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: cover;
}

.pro .container-projekti .projekt-slika .proSlide .st-projekta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eeffff;
  color: #061a33;
  z-index: 2;
  text-align: center;
  width: 12rem;
  height: 12rem;
  position: absolute;
  font-size: 10rem;
  font-weight: bold;
  right: -2rem;
  bottom: -2rem;
}

.pro .container-projekti .projekt-slika .oakSlika {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/test1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/test1.jpg");
}

.pro .container-projekti .projekt-slika .andSlika {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/test2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/test2.jpg");
}

.pro .container-projekti .projekt-slika .pikSlika {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../img/test3.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/test3.jpg");
}

.pro .container-projekti .nazaj-naprej {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pro .container-projekti .nazaj-naprej i {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  font-size: 10rem;
}

.pro .container-projekti .nazaj-naprej i:hover {
  color: #ff4d5a;
}

.pro .opisi-projektov {
  -ms-grid-row: 3;
  grid-row: 3 / 3;
  -ms-grid-column: 2;
  grid-column: 2/2;
  /*background-color: white;*/
  padding: 4rem 4rem 4rem 4rem;
  text-align: center;
  /*color: #061A33; Po koncanem urejanju izbrisi oz dodaj dnevni nacin*/
}

.pro .opisi-projektov h4 {
  font-size: 5rem;
}

.pro .opisi-projektov h5 {
  font-size: 3.5rem;
}

.pro .opisi-projektov p {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.pro .opisi-projektov .orodja {
  margin-top: 2rem;
}

.pro .opisi-projektov .obisci-stran {
  margin-top: 3rem;
  color: #eeffff;
}

.pro .opisi-projektov .obisci-stran:hover {
  color: #061a33;
}

.pro .opisi-projektov a.button {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #ff4d5a;
  font-size: 18px;
  border-radius: 2rem;
}

.pro .opisi-projektov a.button:hover {
  color: #061a33;
}

/* For tablets: */
@media only screen and (max-width: 1024px) {
  .pro {
    display: -ms-grid;
    display: grid;
    min-height: 100vh;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: 68px 8% 1fr 0.2fr;
        grid-template-rows: 68px 8% 1fr 0.2fr;
    /* SLIDER S PROJEKTI */
    /* OPISI PROJEKTOV */
  }
  .pro h2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 6rem;
    text-align: center;
    line-height: 80%;
  }
  .pro h2 span {
    margin-left: 0rem;
    display: inline-block;
  }
  .pro .pike {
    display: none;
  }
  .pro .container-projekti {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 90%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
  }
  .pro .opisi-projektov {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    /*background-color: white;*/
    padding: 2rem 2em 4rem 2rem;
    text-align: center;
    /*color: #061A33; Po koncanem urejanju izbrisi oz dodaj dnevni nacin*/
  }
  .pro .opisi-projektov h4 {
    font-size: 5rem;
  }
  .pro .opisi-projektov h5 {
    font-size: 3.5rem;
  }
  .pro .opisi-projektov p {
    font-size: 2.5rem;
    margin-top: 1rem;
  }
  .pro .opisi-projektov .orodja {
    margin-top: 2rem;
  }
  .pro .opisi-projektov .obisci-stran {
    margin-top: 3rem;
    color: #eeffff;
  }
  .pro .opisi-projektov .obisci-stran:hover {
    color: #061a33;
  }
  .pro .opisi-projektov a.button {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #ff4d5a;
    font-size: 18px;
    border-radius: 2rem;
  }
  .pro .opisi-projektov a.button:hover {
    color: #061a33;
  }
}

/* For mobile: */
@media only screen and (max-width: 440px) {
  .pro {
    display: -ms-grid;
    display: grid;
    min-height: 100vh;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: 68px auto 1fr 25%;
        grid-template-rows: 68px auto 1fr 25%;
    /* SLIDER S PROJEKTI */
    /* OPISI PROJEKTOV */
  }
  .pro h2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin: 3rem 0 0 0;
    text-align: center;
    line-height: 80%;
  }
  .pro h2 span {
    margin-left: 0rem;
    display: inline-block;
  }
  .pro .pike {
    display: none;
  }
  .pro .container-projekti {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3 / 4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    height: 90%;
    width: 90%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10% 80% 10%;
        grid-template-columns: 10% 80% 10%;
  }
  .pro .container-projekti .nazaj-naprej i {
    font-size: 5rem;
  }
  .pro .container-projekti .projekt-slika {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: relative;
    z-index: 1;
  }
  .pro .container-projekti .projekt-slika .proSlide .st-projekta {
    width: 6rem;
    height: 6rem;
    position: absolute;
    font-size: 5rem;
    font-weight: bold;
    right: -1rem;
    bottom: -1rem;
  }
  .pro .opisi-projektov {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4 / 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: center;
        justify-self: center;
    /*background-color: white;*/
    padding: 2rem 2em 4rem 2rem;
    text-align: center;
    /*color: #061A33; Po koncanem urejanju izbrisi oz dodaj dnevni nacin*/
    z-index: 1000;
  }
  .pro .opisi-projektov h4 {
    display: none;
  }
  .pro .opisi-projektov h5 {
    display: none;
  }
  .pro .opisi-projektov p {
    display: none;
  }
  .pro .opisi-projektov .orodja {
    display: none;
  }
  .pro .opisi-projektov a.button {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #ff4d5a;
    font-size: 18px;
    border-radius: 2rem;
  }
  .pro .opisi-projektov a.button:hover {
    color: #061a33;
  }
}

.onas {
  position: absolute;
  top: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-grid-columns: 9rem 2.2fr 1fr 1fr 5%;
      grid-template-columns: 9rem 2.2fr 1fr 1fr 5%;
  -ms-grid-rows: 68px 1fr 1.3fr;
      grid-template-rows: 68px 1fr 1.3fr;
  /* Pozicija kartice za Jureta*/
  /* Pozicija kartice za Gregorja*/
  /* Znotraj kartic se definira grid za lazje centriranje */
  /* Nastavitev opisa pod imeni */
}

.onas h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.onas .opis {
  text-align: justify;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: start;
      justify-self: start;
  padding: 0 7rem 0 7rem;
}

.onas .pike {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  position: relative;
  top: 5rem;
  left: 2rem;
}

.onas .pike .homedot {
  margin: 0 20px 0 0;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  z-index: 50;
}

.onas .onas__card__jure {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 3;
  grid-column: 3;
}

.onas .onas__card__gregor {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 4;
  grid-column: 4;
}

.onas .onas__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr 1fr;
      grid-template-rows: 4fr 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  /* Nastavitev za prikaz in centriranje imena*/
}

.onas .onas__card__slika {
  /* Nastavis velikost kroga za sliko in  */
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  /* Nastavis sliko v ozadje */
}

.onas .onas__card__slika--jure {
  background-color: yellowgreen;
}

.onas .onas__card__slika--gregor {
  background-color: blue;
}

.onas .onas__card__ime {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 5rem;
}

.onas .onas__opis--jure {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 3;
  grid-column: 3;
}

.onas .onas__opis--gregor {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 4;
  grid-column: 4;
}

.onas .onas__opis {
  display: table;
  text-align: center;
}

.onas .onas__opis__besedilo {
  padding: 2rem 2rem 0 2rem;
  width: 100%;
  display: table-cell;
  vertical-align: top;
}

.onas .onas__opis__besedilo ul {
  list-style: none;
  -ms-flex-line-pack: center;
      align-content: center;
}

.onas .onas__opis__besedilo ul li {
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
}

.onas .onas__opis__besedilo p {
  font-size: 2.5rem;
}

.onas .onas__opis__besedilo .typing,
.onas .onas__opis__besedilo .typing1 {
  position: relative;
  margin-left: 1rem;
}

.onas .onas__opis__besedilo .typing::after,
.onas .onas__opis__besedilo .typing1::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  border-right: 2px solid white;
  -webkit-animation: blink 0.8s infinite ease;
          animation: blink 0.8s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.onas .onas__opis__besedilo__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* For tablets: */
@media only screen and (max-width: 1024px) {
  .onas {
    width: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 5% 1fr 1fr 5%;
        grid-template-columns: 5% 1fr 1fr 5%;
    -ms-grid-rows: 68px 15% min-content min-content min-content;
        grid-template-rows: 68px 15% -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: 68px 15% min-content min-content min-content;
    /* Pozicija kartice za Jureta*/
    /* Pozicija kartice za Gregorja*/
    /* Znotraj kartic se definira grid za lazje centriranje */
    /* Nastavitev opisa pod imeni */
  }
  .onas h2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .onas .opis {
    text-align: justify;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
    padding: 0 7rem 4rem 7rem;
  }
  .onas .pike {
    display: none;
  }
  .onas .onas__card__jure {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .onas .onas__card__gregor {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .onas .onas__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 4fr 1fr;
        grid-template-rows: 4fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    /* Nastavitev za prikaz in centriranje imena*/
  }
  .onas .onas__card__slika {
    /* Nastavis velikost kroga za sliko in  */
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    /* Nastavis sliko v ozadje */
  }
  .onas .onas__card__slika--jure {
    background-color: yellowgreen;
  }
  .onas .onas__card__slika--gregor {
    background-color: blue;
  }
  .onas .onas__card__ime {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 3rem;
  }
  .onas .onas__opis--jure {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .onas .onas__opis--gregor {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .onas .onas__opis {
    display: table;
    text-align: center;
  }
  .onas .onas__opis__besedilo {
    padding: 2rem 2rem 0 2rem;
    width: 100%;
    display: table-cell;
    vertical-align: top;
  }
  .onas .onas__opis__besedilo ul {
    list-style: none;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .onas .onas__opis__besedilo ul li {
    font-family: "Titillium Web", sans-serif;
    font-size: 2rem;
  }
  .onas .onas__opis__besedilo p {
    font-size: 2.5rem;
  }
  .onas .onas__opis__besedilo .typing,
  .onas .onas__opis__besedilo .typing1 {
    position: relative;
    margin-left: 1rem;
  }
  .onas .onas__opis__besedilo .typing::after,
  .onas .onas__opis__besedilo .typing1::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid white;
    -webkit-animation: blink 0.8s infinite ease;
            animation: blink 0.8s infinite ease;
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .onas .onas__opis__besedilo__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* For mobile: */
@media only screen and (max-width: 440px) {
  .onas {
    width: 100%;
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-grid-columns: 5% 1fr 1fr 5%;
        grid-template-columns: 5% 1fr 1fr 5%;
    -ms-grid-rows: 68px 8% min-content min-content min-content;
        grid-template-rows: 68px 8% -webkit-min-content -webkit-min-content -webkit-min-content;
        grid-template-rows: 68px 8% min-content min-content min-content;
    /* Pozicija kartice za Jureta*/
    /* Pozicija kartice za Gregorja*/
    /* Znotraj kartic se definira grid za lazje centriranje */
    /* Nastavitev opisa pod imeni */
  }
  .onas h2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .onas .opis {
    font-size: 20px;
    padding: 0 2rem 0 2rem;
  }
  .onas .pike {
    display: none;
  }
  .onas .onas__card__jure {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .onas .onas__card__gregor {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
  .onas .onas__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 4fr 1fr;
        grid-template-rows: 4fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    /* Nastavitev za prikaz in centriranje imena*/
  }
  .onas .onas__card__slika {
    /* Nastavis velikost kroga za sliko in  */
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    /* Nastavis sliko v ozadje */
  }
  .onas .onas__card__slika--jure {
    background-color: yellowgreen;
  }
  .onas .onas__card__slika--gregor {
    background-color: blue;
  }
  .onas .onas__card__ime {
    -ms-grid-row: 2;
    grid-row: 2;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    font-size: 3rem;
  }
  .onas .onas__opis--jure {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .onas .onas__opis--gregor {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .onas .onas__opis {
    display: table;
    text-align: center;
  }
  .onas .onas__opis__besedilo {
    padding: 0rem 0.5rem 0 0.5rem;
    width: 100%;
    display: table-cell;
    vertical-align: top;
  }
  .onas .onas__opis__besedilo ul {
    list-style: none;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .onas .onas__opis__besedilo ul li {
    font-family: "Titillium Web", sans-serif;
    font-size: 1.5rem;
  }
  .onas .onas__opis__besedilo p {
    font-size: 2.5rem;
  }
  .onas .onas__opis__besedilo .typing,
  .onas .onas__opis__besedilo .typing1 {
    position: relative;
    margin-left: 1rem;
  }
  .onas .onas__opis__besedilo .typing::after,
  .onas .onas__opis__besedilo .typing1::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    border-right: 2px solid white;
    -webkit-animation: blink 0.8s infinite ease;
            animation: blink 0.8s infinite ease;
  }
  @-webkit-keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .onas .onas__opis__besedilo__intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.kontakt {
  position: absolute;
  top: 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  height: 100vh;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-grid-columns: 9rem 1.5fr 1fr 5%;
      grid-template-columns: 9rem 1.5fr 1fr 5%;
  -ms-grid-rows: 68px 1fr 1fr;
      grid-template-rows: 68px 1fr 1fr;
}

.kontakt h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.kontakt h2 span {
  display: table;
  margin-left: 27rem;
}

.kontakt ul {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  list-style-type: none;
}

.kontakt ul li {
  padding: 2rem;
}

.kontakt ul li .fas,
.kontakt ul li .fab {
  margin-right: 1rem;
}

.kontakt p {
  font-size: 3.5rem;
}

.kontakt .besedilo {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 5rem;
}

.kontakt .pike {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  position: relative;
  left: 31rem;
  top: -5rem;
}

.kontakt .pike .homedot {
  margin: 0 20px 0 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

/*kontaktna forma*/
.kontaktcontainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  padding: 2rem;
  background: #061a33;
  border: 4px solid #eeffff;
}

.kontaktcontainer .row100 {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.kontaktcontainer .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  margin: 3rem 0 1rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.kontaktcontainer .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #eeffff;
}

.kontaktcontainer .row100 .inputBox input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 0 1rem;
  z-index: 1;
  color: #061a33;
}

.kontaktcontainer .row100 .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 1.8rem;
  padding: 0 1rem;
  z-index: 1;
  color: #061a33;
}

.kontaktcontainer .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 4rem;
  font-size: 2rem;
  padding: 0px 1rem;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.kontaktcontainer .row100 .inputBox .sporocilo {
  position: absolute;
  top: 6rem;
  left: 0;
  line-height: 4rem;
  font-size: 2rem;
  padding: 0px 1rem;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.kontaktcontainer .row100 .inputBox input:focus + .text {
  top: -3.5rem;
  left: -1rem;
}

.kontaktcontainer .row100 .inputBox input:valid + .text {
  top: -3.5rem;
  left: -1rem;
}

.kontaktcontainer .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #eeffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.kontaktcontainer .row100 .inputBox input:focus ~ .line {
  height: 100%;
}

.kontaktcontainer .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.kontaktcontainer .row100 .inputBox textarea:focus + .text {
  top: -3.5rem;
  left: -1rem;
}

.kontaktcontainer .row100 .inputBox textarea:valid + .text {
  top: -3.5rem;
  left: -1rem;
}

.kontaktcontainer .row100 .inputBox textarea:focus ~ .line {
  height: 100%;
}

.kontaktcontainer .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

.kontaktcontainer .row100 .textarea {
  position: relative;
  width: 100%;
  height: 10rem;
  padding: 1rem 0;
  resize: none;
}

.kontaktcontainer .row100 .textarea textarea {
  height: 100%;
  resize: none;
}

input[type="submit"] {
  border: none;
  font-family: "Russo One", sans-serif;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #ff4d5a;
  font-size: 2rem;
  border-radius: 2rem;
}

/* For tablets: */
@media only screen and (max-width: 1024px) {
  /* VSEBINA */
  .kontakt {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: 68px 0.7fr 1.5fr;
        grid-template-rows: 68px 0.7fr 1.5fr;
  }
  .kontakt h2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 5rem;
    margin-top: 0rem;
    padding-bottom: 1rem;
    text-align: center;
    line-height: 80%;
  }
  .kontakt h2 span {
    display: inline-block;
    margin-left: 0rem;
  }
  .kontakt ul {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: center;
        justify-self: center;
    list-style-type: none;
  }
  .kontakt ul li {
    padding: 1rem;
  }
  .kontakt ul li .fas,
  .kontakt ul li .fab {
    margin-right: 1rem;
  }
  .kontakt p {
    font-size: 2.5rem;
  }
  .kontakt .besedilo {
    display: none;
  }
  .kontakt .pike {
    display: none;
  }
  .kontaktcontainer {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-column: 2/4;
    width: 80%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

/* For mobile: */
@media only screen and (max-width: 440px) {
  /* VSEBINA */
  .kontakt {
    display: -ms-grid;
    display: grid;
    height: 100vh;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
    -ms-grid-columns: 5% 1fr 5%;
        grid-template-columns: 5% 1fr 5%;
    -ms-grid-rows: 68px 0.8fr 1fr;
        grid-template-rows: 68px 0.8fr 1fr;
  }
  .kontakt h2 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-left: 0rem;
    margin-top: 4rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  .kontakt h2 span {
    display: block;
    margin-left: 0rem;
  }
  .kontakt ul {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: center;
        justify-self: center;
    list-style-type: none;
    margin-top: 2rem;
    text-align: center;
  }
  .kontakt ul li {
    padding: 1rem;
  }
  .kontakt ul li .fas,
  .kontakt ul li .fab {
    margin-right: 1rem;
  }
  .kontakt p {
    font-size: 1.8rem;
  }
  .kontakt .besedilo {
    display: block;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 2rem;
    margin-top: 0rem;
    margin-left: 0rem;
    text-align: center;
  }
  .kontakt .pike {
    display: none;
  }
  .kontaktcontainer {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */