@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /*top:0; Zakomentiral zaradi pozicioniranja številke na slikah projektov*/
}

body {
  color: #EEFFFF;
  background-color: #061A33;
  font-family: 'Titillium Web', sans-serif;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/*vse za dnevno temo*/
body.day {
  color: #061A33;
  background-color: #EEFFFF;
}

body.day a {
  color: #061A33;
}

body.day .label {
  background-color: #061A33;
}

body.day .sidebar {
  background-color: #EEFFFF;
}

body.day .sidebarMenu a {
  color: #061A33;
}

/*nočni burger*/
body.day .menu-btn__burger, .menu-btn__burger::before {
  background: #061A33;
}

body.day .menu-btn__burger::before, body.day .menu-btn__burger::after {
  background: #061A33;
}

h1 {
  font-family: 'Russo One', sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: 'Russo One', sans-serif;
  font-size: 12rem;
}

h3 {
  font-size: 4.5pt;
}

p {
  font-size: 6rem;
}

li {
  font-family: 'Russo One', sans-serif;
  font-size: 20pt;
}

a {
  color: #EEFFFF;
  text-decoration: none;
}

.verticalLine {
  display: box;
  border-left: 3pt solid #FF4D5A;
  height: 55%;
  position: fixed;
  margin-left: 90px;
  top: 55%;
  bottom: 0;
}

/*navigacijske pikice*/
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -8px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0 5px #EEFFFF;
          box-shadow: inset 0 0 0 5px #EEFFFF;
  overflow: hidden;
}

#fp-nav ul li a span::after,
.fp-slidesNav ul li a span::after {
  content: '';
  position: absolute;
  width: 140%;
  height: 0;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  background-color: #FF4D5A;
  -webkit-box-shadow: 0 0 1px #EEFFFF;
          box-shadow: 0 0 1px #EEFFFF;
  -webkit-transition: width 0.8s;
  transition: width 0.8s;
}

/*dnevne in pikice*/
body.day #fp-nav ul li a span,
.fp-slidesNav ul li a span {
  -webkit-box-shadow: inset 0 0 0 5px #061A33;
          box-shadow: inset 0 0 0 5px #061A33;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
  width: 16px;
  height: 16px;
  border: 4px solid;
  margin: -8px 0 0 -8px;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0 0 0 2px #EEFFFF;
          box-shadow: inset 0 0 0 2px #EEFFFF;
}

#fp-nav ul li a.active span::after,
.fp-slidesNav ul li a.active span::after,
#fp-nav ul li:hover a.active span::after,
.fp-slidesNav ul li:hover a.active span::after {
  height: 100%;
}

.sectionname {
  position: absolute;
  text-align: center;
  font-size: 2rem;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  left: 90px;
  top: 65%;
}

header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  background-color: transparent;
  /* BURGER MENI V ZGORNJI VRSTICI */
  /* ANIMACIJA */
}

header nav {
  width: 90%;
  margin: auto;
  min-height: 68px;
  padding: 23px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
}

header nav #logo1 {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

header .menu-btn {
  margin-top: -12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  /*border: 3px solid #fff; */
}

header .menu-btn__burger {
  width: 40px;
  height: 6px;
  background: #EEFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .menu-btn__burger::before,
header .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 6px;
  background: #EEFFFF;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
          box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

header .menu-btn__burger::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

header .menu-btn__burger::after {
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
}

header .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

header .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

/* stranski meni */
.sidebar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #061A33;
  z-index: 100;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.sidebar ul {
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar ul li {
  text-decoration: none;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.sidebar ul li h1 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.sidebar ul li a {
  color: #EEFFFF;
}

.sidebar ul li a:hover {
  color: #FF4D5A;
}

.sidebar ul li.active a {
  color: #FF4D5A;
}

.sidebar.open {
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
}

/*night/day mode*/
.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #797973;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.label .ball {
  background-color: #EEFFFF;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #FF4D5A;
}

/* VSEBINA */
.showcase {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -ms-grid-columns: 9rem 1fr 1fr 2fr 5%;
      grid-template-columns: 9rem 1fr 1fr 2fr 5%;
  -ms-grid-rows: 68px 1fr 1fr;
      grid-template-rows: 68px 1fr 1fr;
}

.showcase h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.showcase .pike {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  position: relative;
  left: 29rem;
  top: -5rem;
}

.showcase .pike .homedot {
  margin: 0 20px 0 0;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  z-index: 50;
}

.showcase img {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2/6;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 80vh;
  min-height: 60vh;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 10rem;
}

.showcase p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
  margin-left: 8rem;
}

.pro {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -ms-grid-columns: 9rem 1fr 1fr 5%;
      grid-template-columns: 9rem 1fr 1fr 5%;
  -ms-grid-rows: 68px 1fr 1fr;
      grid-template-rows: 68px 1fr 1fr;
  /* SLIDER S PROJEKTI */
  /* OPISI PROJEKTOV */
}

.pro h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.pro .pike {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  position: relative;
  left: 20rem;
  top: -3rem;
}

.pro .pike .homedot {
  margin: 0 20px 0 0;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  z-index: 50;
}

.pro .container-projekti {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  width: 100%;
  height: 60%;
  background: transparent;
  /*background: #061a33;*/
}

.pro .container-projekti .projekti-bck,
.pro .container-projekti .projekti-fwd {
  float: left;
  width: 10%;
  height: 100%;
  z-index: 10;
  /*background-color: #061A33;*/
}

.pro .container-projekti .projekti-bck a,
.pro .container-projekti .projekti-fwd a {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  text-decoration: none;
  display: inline-block;
  font-size: 25rem;
}

.pro .container-projekti .projekti-bck a:hover,
.pro .container-projekti .projekti-fwd a:hover {
  color: #ff4d5a;
}

.pro .container-projekti .projekti-bck {
  left: 0;
}

.pro .container-projekti .projekti-img {
  /* Sredinski div */
  float: left;
  position: relative;
  height: 100%;
  width: 80%;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9;
  background-color: rgba(235, 235, 235, 0.6);
  max-width: 1200px;
}

.pro .container-projekti .projekti-img .proSlide {
  width: 100%;
  height: 100%;
}

.pro .container-projekti .projekti-img .proSlide .st-projekta {
  text-align: center;
  width: 8rem;
  height: 9rem;
  position: absolute;
  font-size: 7rem;
  right: 0;
  bottom: 0;
}

.pro .container-projekti .projekti-img .proSlide img {
  height: 100%;
  width: 100%;
}

.pro .container-projekti .projekti-fwd {
  right: 0;
}

.pro .opisi-projektov {
  -ms-grid-row: 3;
  grid-row: 3 / 3;
  -ms-grid-column: 2;
  grid-column: 2/2;
  /*background-color: white;*/
  padding: 4rem 4rem 4rem 4rem;
  text-align: center;
  /*color: #061A33; Po koncanem urejanju izbrisi oz dodaj dnevni nacin*/
}

.pro .opisi-projektov h4 {
  font-size: 5rem;
}

.pro .opisi-projektov h5 {
  font-size: 3.5rem;
}

.pro .opisi-projektov p {
  font-size: 2.5rem;
  margin-top: 1rem;
}

.pro .opisi-projektov .orodja {
  margin-top: 2rem;
}

.pro .opisi-projektov .obisci-stran {
  margin-top: 3rem;
  color: #eeffff;
}

.pro .opisi-projektov .obisci-stran:hover {
  color: #061a33;
}

.onas {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -ms-grid-columns: 9rem 2fr 1fr 1fr 5%;
      grid-template-columns: 9rem 2fr 1fr 1fr 5%;
  -ms-grid-rows: 68px 1fr 1fr;
      grid-template-rows: 68px 1fr 1fr;
}

.onas h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  margin-left: 5rem;
  margin-bottom: 15rem;
}

.onas p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
  margin-left: 8rem;
  margin-top: 3rem;
}

.onas .pike {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  position: relative;
  left: 6rem;
  top: -15rem;
}

.onas .pike .homedot {
  margin: 0 20px 0 0;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
  z-index: 50;
}

.kontakt {
  display: -ms-grid;
  display: grid;
  min-height: 100%;
  max-height: -webkit-fit-content;
  max-height: -moz-fit-content;
  max-height: fit-content;
  -ms-grid-columns: 9rem 1.5fr 1fr 5%;
      grid-template-columns: 9rem 1.5fr 1fr 5%;
  -ms-grid-rows: 68px 1fr 1fr;
      grid-template-rows: 68px 1fr 1fr;
}

.kontakt h2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  margin-left: 5rem;
  margin-bottom: 5rem;
}

.kontakt p {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-start;
  margin-left: 8rem;
}

.kontakt .pike {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-flex-item-align: end;
      align-self: flex-end;
  justify-self: flex-start;
  position: relative;
  left: 38rem;
  top: -5rem;
}

.kontakt .pike .homedot {
  margin: 0 20px 0 0;
  height: 15px;
  width: 15px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}

/*kontaktna forma*/
.kontaktcontainer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 80%;
  padding: 20px;
  background: #061A33;
  border: 4px solid #EEFFFF;
}

.kontaktcontainer .row100 {
  position: relative;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[autofit];
      grid-template-columns: repeat(autofit, minmax(300px, 1fr));
}

.kontaktcontainer .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.kontaktcontainer .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #EEFFFF;
}

.kontaktcontainer .row100 .inputBox input {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #061A33;
}

.kontaktcontainer .row100 .inputBox textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #061A33;
}

.kontaktcontainer .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  pointer-events: none;
}

.kontaktcontainer .row100 .inputBox input:focus + .text {
  top: -35px;
  left: -10px;
}

.kontaktcontainer .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.kontaktcontainer .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #EEFFFF;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.kontaktcontainer .row100 .inputBox input:focus ~ .line {
  height: 100%;
}

.kontaktcontainer .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.kontaktcontainer .row100 .inputBox textarea:focus + .text {
  top: -35px;
  left: -10px;
}

.kontaktcontainer .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}

.kontaktcontainer .row100 .inputBox textarea:focus ~ .line {
  height: 100%;
}

.kontaktcontainer .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

.kontaktcontainer .row100 .textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
  resize: none;
}

.kontaktcontainer .row100 .textarea textarea {
  height: 100%;
  resize: none;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #FF4D5A;
  font-size: 18px;
  border-radius: 2rem;
}
/*# sourceMappingURL=style.css.map */